<footer class="footer ">

  <div class="footerHaut">
    <ul>
      <li>CGU
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, repellat placeat sint obcaecati commodi ipsam velit deleniti ratione laborum et fugiat quod beatae ea illum minima nihil soluta, id odit.</p>
      </li>
      <li>Politique Confidentialité
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, repellat placeat sint obcaecati commodi ipsam velit deleniti ratione laborum et fugiat quod beatae ea illum minima nihil soluta, id odit.</p>
      </li>
      <li>Mention Legale
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, repellat placeat sint obcaecati commodi ipsam velit deleniti ratione laborum et fugiat quod beatae ea illum minima nihil soluta, id odit.</p>
      </li>
    </ul>
    <div class="footerBas">
      <figure>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </figure>
      <p>A Propos</p>
      <span>@copyrith</span>
    </div>
  </div>
</footer>
