
    .formulaire{
      margin-top: 15px;
      .checkBox{
        margin-top: 50px;
      }
      .connectButton{
  margin: 10px 30%;    }
      .linkRegister{
        text-align: center;
      }
    }
  
    #icon-eye{
      padding: 0.375rem 0;
    }