<div class="container">
  <h1>Connexion</h1>
  <div class="alert alert-danger" role="alert" [class.errorShow]="missedConnexion" *ngIf="missedConnexion">{{alert}}</div>
  <form class="form-group formulaire" [formGroup]="loginForm">
    <label class="" for="mail">Email</label>
    <div class="input-group mb-2 mr-sm-2">
      <!-- <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div> -->
      <input type="email" class="form-control" id="mail" placeholder="" formControlName="mail">
    </div>
    <label class="" for="password">Password</label>
    <div class="input-group mb-2 mr-sm-2">
      <!-- <div class="input-group-prepend">
        <div class="input-group-text">*</div>
      </div> -->
      <input [type]="fieldTextType ? 'text' : 'password'" class="input form-control" formControlName="password"
        name="password" id="password"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas" id="icon-eye" [ngClass]="{
          'fa-eye-slash': !fieldTextType,
          'fa-eye': fieldTextType
        }" (click)="toggledEye()"></i> </span>
      </div>
    </div>


    <div class="form-check checkBox">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Se Souvenir De Moi</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" (click)="onSubmit()" [disabled]="loginForm.invalid">Se
      Connecter</button>
    <p class="linkRegister">Pas encore inscrit? <a routerLink="/inscription">Inscrivez-vous ici</a></p>
  </form>
</div>