<div class="container">
  <div class="cards">
    <div class="card" *ngFor="let citation of citations">
      <div class="card-body">
        <h5 class="card-title">{{citation.id}}</h5>
        <p class="card-text">{{citation.content}}</p>
        <span class="material-icons" id="btn-edit" [routerLink]="[citation.id]">
          edit
        </span>
        <span class="material-icons" id="btn-delete">
          delete
        </span>

      </div>
    </div>
  </div>
  <a routerLink="/create" class="btn btn-primary">Créer une citation</a>
</div>